# servroot is typically the nginx/Kong workingdirectory when testing
servroot

# packed distribution format for LuaRocks
*.rock

# this will be generated
*.rockspec

# vscode files
.vscode/

# docs will be generated
doc/
